body {
  background-color: #050008;
}

@font-face {
  font-family: 'Gothic';
  src: url('fonts/gothic2.woff2') format('woff2'),
  url('fonts/gothic1.woff') format('woff');

}

html {
  scroll-behavior: smooth;
}

.gran,
.gran-span, .gran-plot {
  font-weight: 700;
  font-family: "Gothic";
  font-size: 6vw;
  font-weight: 600;
  color: rgb(50, 252, 252);
  margin-top: 0;
  padding-left: 0;
  user-select: none;
  text-shadow: 0 0 125px;
  position: relative;
}

.gran-plot {
  color: white;
  font-family: "Dela Gothic One";
}


.turismo {
  font-family: "Gothic";
  user-select: none;
  color: rgb(255, 39, 39);
  text-shadow: 0 0 15px;
}

.turismo-text {
  font-family: "Gothic";
  font-size: 0.7em;
  user-select: none;
  color: rgb(255, 39, 39);
  text-shadow: 0 0 15px;
}

.videos {
  height: 100vh;
  width: 100vw;
  opacity: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.start {
  display: block;
  margin-top: 35vh;
  text-align: center;
}

.extender, .extender2, .extenderplot {
  margin-top: 53vh;
  height: 85vh;
}

.extender2 {
  margin-top: 0;
  height: 5vh;
}

.extenderplot {
  width: 5vw;
  height: 5vw;
  margin-top: 89.8vh;
  height: 10vh;
}

.jan,
.jan-intro, 
.jack-intro {
  font-family: "Dela Gothic One";
  font-size: 2vw;
  color: white;
  margin-top: 2vh;
  margin-left: 2vw;
}

.jan-intro, .jack-intro {
  margin-left: 2vw;
  font-size: 1.4vw;
  margin-top: -3.5vh;
}

.text-div {
  display: flex;
}

.jan-div {
  height: 80vh;
}

.jack {
  font-family: "Dela Gothic One";
  font-size: 2vw;
  color: white;
  margin-top: 2vh;
  margin-left: 2vw;
}

.gran-span {
  text-shadow: 0 0 15px cyan;
  font-size: 1.4vw;
  margin-left: 0vw;
  margin-top: -1vh;
}

.button, .button2, .button-plot {
  font-family: 'Dela Gothic One';
  user-select: none;
  color: black;
  border: 8px solid cyan;
  background-color: cyan;
  border-radius: 75px;
  position: absolute;
  margin-top: -130vh;
  margin-left: 44.8vw;
  font-size: 1.5em;
  height: 5.5vh;
  width: 8vw;
  transition: 0.2s;
  box-shadow: 0 0 25px cyan;
}

.button-plot {
  margin-top: -45vw;
  width: 9vw;
}

.button2 {
  margin-bottom: 50vh;
  margin-top: -5vh;
}

.button:hover {
  background-color: rgba(0, 255, 255, 0.363);
  transition: 0.2s;
  box-shadow: 0 0 50px cyan;
}

.name-div,
.name-div-other {
  display: block;
  margin: auto;
  margin-left: 1.9vw;
  margin-top: 36.5vh;
  width: 44vw;
  height: 19vh;
  background-color: rgba(255, 0, 0, 0);
  border: 12px solid white;
  border-radius: 85px;
  box-shadow: 4px 0px 44px -9px rgba(158, 125, 158, 1);
  box-shadow: 4px 0px 44px -9px rgba(158, 125, 158, 1);
  position: absolute;
}

.name-div-other {
  width: 45.5vw;
  margin-left: 50.5vw;
}

.jan-text, .jack-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 53vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-left: 1vw;
  width: 42.7vw;
  margin-top: 37vh;
  height: 91.5vh;
  font-size: 1.9vw;
  color: white;
  border: 12px solid white;
  box-shadow: 0px 0px 88px -9px rgba(158, 125, 158, 1);
  border-radius: 100px;
  position: absolute;
}

.jack-text {
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 0vw;
  width: 44.1vw;
  height: 91.5vh;
  margin-left: 49.7vw;
  margin-top: 35vh;
  color: white;
  font-size: 2vw;
}

.redirect {
  margin-top: -102.5vh;
  width: 30vw;
  height: 5vh;
}

a {
  color: black;
  text-decoration: none;
}

.retired {
  color: gray;
  text-shadow: 0 0 33px;
}

.plot-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 13vw;
  padding-right: 13vw;
  margin-top: 28vh;
  color: white;
  font-size: 2vw;
}